<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <form class="container w-25" method="post" action="/student/">
      <div class="form-group">
        <label for="">Name</label>
        <input class="form-control" type="text" name="name" id="" />
      </div>
      <div class="form-group">
        <label for="">RollNo</label>
        <input class="form-control" type="text" name="rollNo" id="" />
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input class="form-control" type="email" name="email" id="" />
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input class="form-control" type="password" name="password" id="" />
      </div>
      <div class="form-group">
        <label for="">Contact</label>
        <input class="form-control" type="text" name="contact" id="" />
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="submit" />
      </div>
      <% if (typeof errors != 'undefined') { errors.errors.forEach((b)=>{ %>
      <div class="alert alert-danger"><%= b.msg %></div>
      <% }) } %>
    </form>
  </body>
</html>
